################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheShop/obj/Debug
/TheShop/bin/Debug
/.vs/TheShop/v16/.suo
/packages
/TheShop.Services/bin
/TheShop.Services/obj
bin
/TheShop.Models/obj
/TheShop.Database/bin
/TheShop.Database/obj
/TheShop.Tests/obj
/.vs/TheShop/v16/TestStore/0
.vs/TheShop/DesignTimeBuild/.dtbcache.v2
